---
---

/*********  Employee Awards Site Main Styles **********/



// Default Styles
body {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;

}
ul, ol {
	list-style-type: none;
	margin: 0;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

// Keyframes
@keyframes slideDown {
	0%, 100% { -webkit-transform: translateY(-64px); -ms-transform: translateY(-64px); transform: translateY(-64px); }
	10%, 90% { -webkit-transform: translateY(0px); -ms-transform: translateY(0px); transform: translateY(0px); }
}

@-webkit-keyframes phoneDown {
	0%, 100% { -webkit-transform: translateY(-96px); transform: translateY(-96px); }
	10%, 90% { -webkit-transform: translateY(0px); transform: translateY(0px);}
}

@keyframes phoneDown {
	0%, 100% { -webkit-transform: translateY(-96px); transform: translateY(-96px); }
	10%, 90% { -webkit-transform: translateY(0px); transform: translateY(0px);}
}

// Colors and Variables
$color_accent: #E9724C;
$color_alt: #FFC857;
$color_dark: #00305E;
$color_light: #00AEEF;
$color_medium: #006FBA;

$font-text: 'Fira Sans', sans-serif;
$font-title: 'Merienda', cursive;

// Navigation Styles
nav {
	background: $color_medium;
	color: #fff;
	font-family: $font-text;
	margin: 0;
	padding: 0.75em 0;
}
nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.nav_hidden {
	display: none;
	color: $color_dark;
	font-family: $font-title;
	text-align: center;
}

.nav_logo img {
	max-height: 50px;
	padding-top: 0.5em;
}
.nav_links {
	-ms-flex-item-align: center;
	    align-self: center;
}
header a:hover {
	color: $color_alt;
}
// Hero Styles
.hero {
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
background: $color_alt;
background-image: url('../images/walkway3.jpg');
background-position: 25%;
background-size: cover;
color: #fff;
clear: both;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-family: $font-title;
height: 90vh;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
text-align: center;
}
.hero_text {
	background:rgba(0,0,0,0.2);
	border: 1px solid #fff;
	padding: 2em;
	h1 {
		font-size: 3em;
		margin: 0.5em 0;
	}
	h5 {
		font-size: 1.1em;
	}
}


// Sponsors Styles
.sponsors {
	font-family: $font-text;
	margin-bottom: 2em;
	padding-top: 25px;
	text-align: center;
}
.sponsors_images {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding-top: 50px;
	img {
		max-height: 50px;
	}
}

// Description Styles
.description {
	background: $color_medium;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: $font-text;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding:50px 3em;
	img {
		-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
		        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
		max-height: 250px;
	}
}

.description_text {
	-ms-flex-preferred-size: 40%;
	    flex-basis: 40%;
	text-align: center;
	a {
		color: $color_accent;
	}
	h2 {
		margin-bottom: 50px;
	}
	p {
		line-height: 1.5;
	}
}

// Sign Up Styles
.signup {
	background: $color_alt;
	padding-bottom: 0.5em;
}
.signup .signup_text {
	background: $color_dark;
	color: #fff;
	font-family: $font-text;
	padding: 1.5em;
	text-align: center;
	h2 {
		margin-bottom: 1em;
	}
	p {
		line-height: 1.5;
		margin: 0 auto;
		max-width: 50%;
	}
}

.signup form {
	background: #FFD275;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 1.5em auto;
	max-width: 50%;
	padding:2em 1em;
	button {
		background: $color_accent;
		border-radius: 4px;
		border: none;
		-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
		        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
		color: #fff;
		cursor: pointer;
		font-family: $font-text;
		font-size: 16px;
		margin-top: 25px;
		outline: 0;
		padding: 15px 40px;
		text-transform: uppercase;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
	input {
		border-radius: 4px;
		border: none;
		-ms-flex-preferred-size: 40%;
		    flex-basis: 40%;
		font-family: $font-text;
		font-size: 14px;
		margin-bottom: 25px;
		outline: 0;
		padding: 0.5em;
	}
	textarea {
		border-radius: 4px;
		border: none;
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
		font-family: $font-text;
		height: 3em;
		outline: 0;
		padding: 0.5em;
	}
}

// Form Submission Styles
.alert {
	position: fixed;
  	right: 0;
  	top: 0;
   	background: #00cc00;
   	z-index: 101;
    	left: 0;
    	font-family: $font_text;
    	line-height: 2;
    	overflow: hidden;
    	text-align: center;
    	text-transform: uppercase;
    	-webkit-transform: translateY(-64px);
    	    -ms-transform: translateY(-64px);
    	        transform: translateY(-64px);
    	-webkit-box-shadow: 0 0 5px black;
    	box-shadow:         0 0 5px black;
}

.submitted {
	-webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
	        animation: slideDown 2.5s 1.0s 1 ease forwards;
}

.signup form button:hover {
	background: #BF5E3F;
}
// Extras Styles
.extras {
	background: $color_medium;
	color: #fff;
	padding: 2em 0;
}
.extras.extas_altcolor {
	background: $color_dark;
}
.extras article {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: $font-text;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0 8em;
	.extras_text {
		-ms-flex-item-align: center;
		    align-self: center;
		-ms-flex-preferred-size: 50%;
		    flex-basis: 50%;
		line-height: 1.5;
		text-align: center;
	}
}
.extras article img {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
	max-height: 250px;
}


// Footer Styles
.footer_container {
	background: $color_dark;
}
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 2em 0;
	nav {
		background: inherit;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-left: 6em;
		h4 {
			margin-left:35px;
			padding-bottom: 10px;
		}
		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
		}
		i {
			margin-right: 10px;
		}
	}
	p {
		color: #fff;
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
		text-align: center;
	}
}

footer a:hover {
	color: $color_alt;
}

// Media Queries
 @media screen and (max-width: 1040px) {
	.description_text h2 {
		margin-bottom: 10px;
	}
	.signup form {
		max-width: 70%;
	}
 }

 @media screen and (max-width: 1040px) {
 	.extras article {
 		-webkit-box-orient: vertical;
 		-webkit-box-direction: normal;
 		    -ms-flex-direction: column;
 		        flex-direction: column;
 	}
 	.extras article img {
 		max-width: 500px;
 		-ms-flex-item-align: center;
 		    align-self: center;
 	}
	.extas_altcolor .extras_text {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
	footer {
 		-ms-flex-pack: distribute;
 		    justify-content: space-around;
 		nav {
 			margin: 0;
 		}
 	}
 }

 @media screen and (max-width: 765px) {
 	.description {
 		-webkit-box-orient: vertical;
 		-webkit-box-direction: normal;
 		    -ms-flex-direction: column;
 		        flex-direction: column;
 		img {
 			margin-bottom: 25px;
 			max-width: 500px;
 			-ms-flex-item-align: center;
 			    align-self: center;
 		}
 	}
 	.signup .signup_text p {
 		max-width: 70%;
 	}
 	.signup form {
 		max-width: 90%;
 	}
 	header nav ul {
 		padding: 0;
 	}
 	.nav_links {
 		display: none;
 	}
 	.nav_hidden {
 		display: inline-block;
 	}
 	.extras article {
 		margin: 0 6em;
 	}
 }

@media screen and (max-width: 625px) {
	.sponsors_images img {
		max-height: 30px;
	}
	.signup form {
		max-width: 75%;
	}
	.signup form input {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
}

@media screen and (max-width: 490px) {
	.alert{
		-webkit-transform: translateY(-96px);
		    -ms-transform: translateY(-96px);
		        transform: translateY(-96px);
	}
	.submitted {
	-webkit-animation: phoneDown 2.5s 1.0s 1 ease forwards;
	        animation: phoneDown 2.5s 1.0s 1 ease forwards;
	}
	.nav_logo img {
		max-height: 35px;
	}
	.hero_text {
	border: none;
	 h1 {
		font-size: 2em;
		}
	}
	.extras article {
		margin: 0 1em;
	}
	.extras_text h3 {
		margin-top: 20px;
	}
	.signup form {
		max-width: 100%;
	}
	.signup .signup_text p {
		max-width: 85%;
	}
	.extras article img, .description img {
		max-width: 100%;
	}
	.extras article img {
		margin-top: 6em;
	}
	.description img {
		margin-top: 4.5em;
	}
	.description {
		padding: 50px 1em;
	}
	.sponsors_images img {
		max-height: 25px;
	}
	footer nav{
		ul {
			padding: 0;
		}
		h4 {
			margin: 0;
		}
	}
}